.idea/*
.env
kaggle.json
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
data/*
poetry.lock
.flakeheaven_cache/*
artefacts/*
/catboost_info/catboost_training.json
/catboost_info/learn/events.out.tfevents
catboost_info/*